<div class="layout layout--col gap--space-between">
  <div class="grid">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--xlarge">{{ IDX_1.Name }}</span>
        <span class="label">
          {% unless IDX_1.AllianceName == "" %}
            [{{ IDX_1.AllianceName }}]
          {% endunless %}
          {% unless IDX_1.GuildName == "" %}
            {{ IDX_1.GuildName }}
          {% endunless %}
        </span>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="grid">
    <div class="col gap--medium">
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--large value--tnums" data-value-fit="true" data-value-format="true">{{ IDX_1.KillFame }}</span>
          <span class="label">Kill</span>
        </div>
      </div>

      <div class="divider"></div>

      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--large value--tnums" data-value-fit="true" data-value-format="true">{{ IDX_1.DeathFame }}</span>
          <span class="label">Death</span>
        </div>
      </div>
    </div>

    <div class="col gap--medium">
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--large value--tnums" data-value-fit="true" data-value-format="true">{{ IDX_1.LifetimeStatistics.PvE.Total }}</span>
          <span class="label">PvE</span>
        </div>
      </div>

      <div class="divider"></div>

      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--large value--tnums" data-value-fit="true" data-value-format="true">{{ IDX_1.LifetimeStatistics.Crafting.Royal | plus: IDX_1.LifetimeStatistics.Crafting.Total | plus: IDX_1.LifetimeStatistics.Crafting.Avalon | plus: IDX_1.LifetimeStatistics.Crafting.Outlands }}</span>
          <span class="label">Crafting</span>
        </div>
      </div>
    </div>

    <div class="col gap--medium">
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--large value--tnums" data-value-fit="true" data-value-format="true">{{ IDX_1.LifetimeStatistics.Gathering.All.Royal | plus: IDX_1.LifetimeStatistics.Gathering.All.Total | plus: IDX_1.LifetimeStatistics.Gathering.All.Avalon  | plus: IDX_1.LifetimeStatistics.Gathering.All.Outlands }}</span>
          <span class="label">Gathering</span>
        </div>
      </div>

      <div class="divider"></div>

      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--large value--tnums" data-value-fit="true" data-value-format="true">{{ IDX_1.LifetimeStatistics.FishingFame }}</span>
          <span class="label">Fishing</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://trmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">{{ IDX_1.Name }}@{{ IDX_1.LifetimeStatistics.Timestamp | date: "%d.%m.%Y %H:%M" }}</span>
</div>
